---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { SITE_DESCRIPTION, appSettings } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import {getPublishedPostsByDateDesc, createExcerpt} from '../../lib/blog.ts';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<!doctype html>
<Layout
  title={appSettings.formatTitle("Blog")}
  description={SITE_DESCRIPTION}
  activeMenu="Blog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 news-post">
        <div class="card col-sm-12 px-3 shadow-sm">
          <h2 style={{ marginTop: "10px" }}>{post.data.title}</h2>
          <div class="date">
            <FormattedDate date={post.data.pubDate} />
          </div>
          <div class="news-content">
            <Content />
          </div>
          <span class="clearfix"></span>
        </div>

        <div id="site_comments">
          {/* Normally, we'd just add isso comments like this...
              But since this is a static site, need to do it differently */}
          {/* <script data-isso="/comments/"
                  data-isso-css="true"
                  data-isso-lang="en"
                  data-isso-reply-to-self="false"
                  data-isso-require-author="true"
                  data-isso-require-email="false"
                  data-isso-max-comments-top="10"
                  data-isso-max-comments-nested="5"
                  data-isso-reveal-on-click="5"
                  data-isso-avatar="true"
                  data-isso-avatar-bg="#f0f0f0"
                  data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
                  data-isso-vote="true"
                  data-vote-levels=""
                  src="/comments/js/embed.min.js"></script> */}

          <section id="isso-thread"></section>
        </div>
      </div>
    </div>
  </div>
</Layout>


<!-- <BlogPost {...post.data}>
  <Content />
</BlogPost> -->
