---
import Layout from '@layouts/Layout.astro';
import { SITE_TITLE } from '@root/consts';

const title = "About " + SITE_TITLE;
---

<!doctype html>
<Layout
  title={title}
  description={title}
  activeMenu="None"
>
  <div class="container">
    <div class="row pt-4">
      <div class="card col-sm-12" style="padding-top:20px; padding-bottom:20px; padding:20px">
        <div class="row">
          <div class="about-me-text">
            <h2 style="margin-bottom:30px">{title}</h2>
            <p>Hi, I'm Gordon, and this is my personal blog.</p>
            <p>I'll be posting random things here from time to time.</p>
            <p>A bit about me:</p>
            <p>I've been a gamer ever since my parents bought
                the <a href="https://en.wikipedia.org/wiki/Intellivision">Intellivision</a> and
                first took me to <a href="https://www.chuckecheese.com/">Chuck E. Cheese</a> in
                the early 80's.
            </p>
            <p>I've been messing with computers since my parents bought an
                <a href="https://en.wikipedia.org/wiki/Apple_IIc">Apple IIc</a>.
            </p>
            <p>Now my son and I play video games, watch movies and anime,
                play in the pool, and other things. He makes me feel like a kid again.
            </p>
            <div>Some other things I like to do:
              <ul>
                <li><a href="https://github.com/gordonglas">Program computers</a></li>
                <li><a href="https://overworldsoft.com">Make a game engine</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Gunpla">Gunpla modeling</a> - Currently working on the Entry Grade RX-78-2</li>
                <li><a href="https://soundcloud.com/alphatrak/tracks">Make music</a></li>
                <li>Listen to relaxing
                    <a href="https://www.youtube.com/results?search_query=kitaro">New Age</a>,
                    <a href="https://www.youtube.com/results?search_query=relaxing+coffee+shop+jazz">Jazz</a>,
                    <a href="https://www.youtube.com/results?search_query=1980%27s+music">80's</a>,
                    <a href="https://www.youtube.com/results?search_query=synthwave">Synthwave</a>, and
                    <a href="https://www.youtube.com/results?search_query=relaxing+video+game+music">game music soundtracks</a>.
                </li>
                <li>Watch space-operas.</li>
                <li>Work on my yard.</li>
              </ul>
            </div>
            <p>Also, I realize the "ninja" domain name sounds a bit pretentious,
                but I thought it was cool and had to have it. 😄
                <br />Ninja were really not like we perceive them today.</p>
          </div>
          <div class="col-sm-12 col-lg-7 site-margin">
            <img class="img-fluid rounded" width="500" height="375"
                  loading="lazy" src="/img/common/gordonglas.jpg" alt="Gordon Glas">
          </div>
          <div class="col-sm-12 col-lg-5">
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td colspan="2">Contact info:</td>
                </tr>
                <tr>
                  <td><i class="bi bi-envelope-fill"></i> Email:</td>
                  <td><a href="mailto:gglas@overworldsoft.com">gglas@overworldsoft.com</a></td>
                </tr>
                <tr>
                  <td><i class="bi bi-mastodon"></i> Mastodon:</td>
                  <td><a href="https://mastodon.gamedev.place/@kefka">@kefka@mastodon.gamedev.place</a></td>
                </tr>
                <tr>
                  <td><i class="bi bi-twitter"></i> Twitter:</td>
                  <td><a href="https://twitter.com/alphatrak">@alphatrak</a></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href="https://twitter.com/overworldsoft">@overworldsoft</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
