---
const today = new Date();
---

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-2 col-md-2">
          <div class="gn-ninja"></div>
      </div>
      <div class="col-sm-4 col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item"
            ><a href="/rss.xml" title="Subscribe via RSS"><i class="bi bi-rss-fill"></i> RSS</a></li
          ><li class="list-inline-item"
            ><a href="/about"><i class="bi bi-info-circle-fill"></i> About</a></li>
        </ul>
        <p>&copy; {today.getFullYear()} Gordon Glas</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="https://mastodon.gamedev.place/@kefka" rel="me" style="margin-right:10px"
          ><div class="mastodon-icon" aria-label="Chat with me on Mastodon"></div></a
        ><a href="https://twitter.com/alphatrak" style="margin-right:10px"
          ><div class="twitter-icon" aria-label="Follow me on Twitter"></div></a
        ><a href="https://github.com/gordonglas"
          ><div class="github-icon" aria-label="Follow me on github"></div></a>
      </div>
    </div>
  </div>
</footer>
