---
import { Picture } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;

//console.log(src); -->
//{
//  src: '/content/blog/2023/10/florence_hoseney_softball_1938_test.jpg',
//  width: 4000,
//  height: 3178,
//  format: 'jpg'
//}

// img tag sizes attribute: https://www.dofactory.com/html/img/sizes
---

<span class="astro-blog-image">
  <Picture src={src} alt={alt} formats={['webp', 'jpg']}
      width="1000" widths={[600, 1000]}
      style="max-width:100%; height:auto;"
      sizes="(max-width: 700px) 600px, 1000px" />
</span>
