---
import BaseHead from '../components/BaseHead.astro';
// our custom css overrides
import '../styles/site.css'         // general overrides
import '../styles/theme-dark.css'   // dark theme overrides

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
